# Configurações do frontend React
# Crie este arquivo como .env na pasta frontend/

REACT_APP_CHAIN_ID=11155111
REACT_APP_SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/seu_api_key
REACT_APP_BCI_TOKEN_ADDRESS=0x0FCE6ecA806E93cF683bB807E56Cec74Ed87f9f7
REACT_APP_DAO_VOTING_ADDRESS=0xb3d9dD3213b7B6c8D1F46Dc24c869c99647b53e9
